<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Контакты подписчиков</title>
     <nav>
        <a href="/">Главная</a> |
        <a href="/blog">Блог</a> |
        <a href="/contacts">Контакты</a>
    </nav>

</head>
<body>
  <h2>Контакты подписчиков</h2>
  <ul>
    <li>Иван Иванов — ivan@example.com</li>
    <li>Маша Петрова — masha@domain.com</li>
    <li>Петр Смирнов — petr@website.com</li>
  </ul>
  <p>Если хотите связаться с нами, напишите на <a href="mailto:info@example.com">info@example.com</a></p>

</body>
</html>