<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Анекдоты - Главная</title>
</head>
<body>
  <h1>Добро пожаловать на сайт анекдотов!</h1>
     <nav>
        <a href="/">Главная</a> |
        <a href="/blog">Блог</a> |
        <a href="/contacts">Контакты</a>
    </nav>
    <p>Текущая дата и время: {{ current_time }}</p>
  <p>Когда мы радуемся и улыбаемся, организму легче справляться со стрессом и тревогой. Хорошее настроение стимулирует выработку гормонов счастья — серотонина и эндорфинов, которые улучшают здоровье, повышают иммунитет и дают энергию. Оно помогает сосредоточиться, быть более добрым к окружающим и находить решения сложных задач. Даже в трудные моменты позитивный настрой делает жизнь ярче и легче, наполняя ее смыслом и радостью.</p>
  <p>Вот немного юмора для поднятия настроения:</p>

<div style="display: flex; flex-wrap: wrap;">
  {% for image in images %}
    <div style="margin: 10px;">
      <img src="{{ url_for('static', filename= image ) }}" alt="Юмор" style="width: 300px;" />
    </div>
  {% endfor %}
</div>

  <p>Здесь будут самые смешные анекдоты!</p>

  <nav>
    <a href="/">Главная</a> |
    <a href="/blog/">Блог</a> |
    <a href="/contacts/">Контакты</a>
  </nav>
</body>
</html>